# Ignore node_modules folder
node_modules/

# Ignore .env file
.env

# Ignore package-lock.json (optional, depending on your preference)
package-lock.json

# Ignore any other files related to dependencies
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build folders (optional, if you're building the project)
dist/
build/
